@page
@model WebApplication1.Pages.ContatoModel
@{
}
<div class="container d-flex justify-content-center social">
    <div class=" row">
        <h1 class="mb-5 d-flex justify-content-center mr-2" data-aos="zoom-in-down">Entre em contato!</h1>
        <ul class="d-flex justify-content-center mt-2">
            <li data-aos="zoom-in-up"><a href="https://wa.me/5555996411663" target="blank"><i class="flaticon-whatsapp"></i></a></li>
            <li data-aos="zoom-in-up"><a href="https://www.linkedin.com/in/lilianeblaya" target="blank"><i class="flaticon-linkedin"></i></a></li>
            <li data-aos="zoom-in-up"><a href="https://www.instagram.com/lilianeblaya" target="blank"><i class="flaticon-instagram"></i></a></li>
        </ul>
    </div>
</div>