@page
@model WebApplication1.Pages.IndexModel
@{
    ViewData["Title"] = "Início";
}
@section styles{
    <style>
        body {
            overflow-y: hidden !important;
            background: #fff;
        }
    </style>
}

<div class="caixa-divisoes">
    <a href="Still" class="divisoes d1">
        <h1 class="titulo" data-aos="fade-down">Fotografia Still</h1>
    </a>
    <a href="Grafico" class="divisoes d2">
        <h1 class="titulo" data-aos="fade-up">Design Gráfico</h1>
    </a>
</div>
