@page
@model WebApplication1.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre";
}
<div class="container-fluid sobre">
    <div class="row justify-content-center">
        <div class="col-xl-7">
            <div class="row mb-5">
                <div class="col-xl-6 col-md-10 col-sm-12 mt-4 pr-5" data-aos="zoom-in-down">
                    <img src="img/perfillili.jpg" alt="Images" class="img-fluid">
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 mt-0 px-5" data-aos="zoom-in-down">
                    <h3>Sobre</h3>
                    <p class="pl-5 col-12">
                        Graduada em Design pela UFSM. Morou pelo período de 1 ano na Itália como intercambista de graduação sanduíche.
                        Fotógrafa com curso iniciado e concluído em Florença, Itália. Atuou como fotógrafa e editora de imagens para o Rotary Club de Santa Maria em 2017.
                        Foi bolsista de iniciação científica em 2018, desenvolvendo joias com materiais inusitados e apresentando artigos pelo Brasil.
                        Estagiou na empresa DBecher Photographers no primeiro semestre de 2019, fazendo seleção e edição de imagens, depois também desenvolvendo álbuns.
                        Estagiou na empresa ON e-Stadium no segundo semestre de 2019 como designer gráfica, concluindo sua graduação, e ao final, sendo efetivada no setor de Marketing.
                        Atualmente optou por empreender como Freelancer, e agora se dedica à edição de imagens still, no ramo da joalheria, enquanto cursa Psicanálise Integrativa com Linguagem do Corpo à distância.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>