@page
@model WebApplication1.Pages.StillModel
@{
    ViewData["Title"] = "Still";
}

<div class="caixa-divisoes" data-aos="fade-up">
</div>

<!--
<div class="w3-row">
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 1</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 2</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 3</h2>
            </a>
        </div>
    </div>

    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 4</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 5</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 6</h2>
            </a>
        </div>
    </div>

    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 7</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s6 m6 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 8</h2>
            </a>
        </div>
    </div>
    <div class="w3-col s12 m12 l4">
        <div class="fundo">
            <a href="" class="card">
                <h2 data-aos="fade-up">Card 9</h2>
            </a>
        </div>
    </div>
</div>
-->